@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');


@import "tailwindcss";
@plugin "daisyui";


.stack-sans {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer components {
  .btn-primary-ui {
    @apply bg-gray-900 text-white 
           px-4 py-2 text-sm  /* base (mobile) */
           sm:px-6 sm:py-3 sm:text-base  /* small to medium screens */
           md:px-8 md:py-3 md:text-lg  /* tablets & up */
           rounded-2xl font-semibold 
           hover:bg-gray-800 transition 
           duration-300 ease-in-out;
  }

  .btn-secondary-ui {
    @apply bg-white/80 text-gray-900 
           px-4 py-2 text-sm 
           sm:px-6 sm:py-3 sm:text-base 
           md:px-8 md:py-3 md:text-lg 
           rounded-2xl font-semibold border border-gray-300 
           hover:bg-gray-100 transition backdrop-blur-sm 
           duration-300 ease-in-out;
  }
}


input::-ms-reveal,
input::-ms-clear {
  display: none;
}